body {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f0f0f0;
  padding: 20px;
  font-family: "Sniglet", system-ui;
  font-weight: 400;
  font-style: normal;
  color: #50463a;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
  width: 33vw;
  background-color: #e7ffce;
  border: 10px solid #b6da9f;
  border-radius: 36px;
}

h2 {
  margin-top: 60px;
  text-align: center;
}

.icon {
  font-size: 200px;
  vertical-align: top;
  cursor: pointer;
  -webkit-user-select: none; /* Safari/Chrome */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE/Edge */
  user-select: none;
}

.coin {
  height: 25px;
  margin-right: 5px;
}

.upgrades {
  display: flex;
  margin-left: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
  width: 20vw;
  background-color: #e7ffce;
  border: 10px solid #b6da9f;
  border-radius: 36px;
}
