body {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f0f0f0;
  padding: 20px;
  font-family: "Sniglet", system-ui;
  font-weight: 400;
  font-style: normal;
  color: #50463a;
  background-image: url("clovers.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

.draggable {
  z-index: 0;
  position: absolute;
  cursor: pointer;
  font-size: 100px;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
  width: 33vw;
  z-index: 1;
  background-color: #e7ffce;
  border: 10px solid #b6da9f;
  border-radius: 36px;
}

h2 {
  margin-top: 45px;
  text-align: center;
  margin-bottom: 10px;
}

.circlebg {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 300px;
  background-color: #779863;
  border-radius: 50%;
  border: 10px solid #b6da9f;
}

.circlebg:hover {
  transform: scale(1.05);
}

.icon {
  font-size: 200px;
  vertical-align: top;
  cursor: pointer;
  padding-bottom: 44px;
  -webkit-user-select: none; /* Safari/Chrome */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE/Edge */
  user-select: none;
}

.stats {
  margin: 0px;
  font-style: bold;
}

.coin {
  height: 25px;
  margin-right: 5px;
}

h1 {
  margin-bottom: 2px;
}

.items {
  display: flex;
  z-index: 1;
  margin-left: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
  width: 20vw;
  background-color: #e7ffce;
  border: 10px solid #b6da9f;
  border-radius: 36px;
}

hr {
  border: none;
  height: 10px;
  background-color: #b6da9f;
  width: 20vw;
}

.purchases {
  z-index: 1;
  overflow-y: auto;
}

/*Width of scrollbar*/
.purchases::-webkit-scrollbar {
  width: 5px;
}

/*Color and corners*/
.purchases::-webkit-scrollbar-thumb {
  background-color: #ffc98e;
  border-radius: 10px;
}

/*Color when hovered*/
.purchases::-webkit-scrollbar-thumb:hover {
  background-color: #dcfbba;
}

/*Background of scrollbar*/
.purchases::-webkit-scrollbar-track {
  background-color: #dcfbba;
}

.item-row {
  background-color: #e7ffce;
  border: 10px solid #b6da9f;
  border-radius: 36px;
  width: 18vw;
  padding-bottom: 25px;
}

button {
  border-radius: 36px;
  background-color: #ffc98e;
  border-color: #779863;
  color: #50463a;
  font-family: "Sniglet", system-ui;
  font-size: 18px;
  margin-bottom: 5px;
}

button:disabled {
  cursor: not-allowed;
  background-color: #e0e0e0;
  border-color: #a0a0a0;
  color: #707070;
}

p {
  margin-bottom: 5px;
}

.pop-up {
  position: absolute;
  background-color: #ffc98e;
  border: 5px solid #eaa458;
  visibility: hidden;
  z-index: 10;
  width: 40vw;
  height: 30vh;
  border-radius: 36px;
  /* Moves it percent # away from the top of the screen */
  top: 20%;
}

.close {
  border-color: #eaa458;
  background-color: #779863;
  margin-bottom: 5px;
}
